<p>ステージ3</p>
<div class="rule">全てのパネルを青色にしましょう！<br>クリックしたパネルと上下左右に隣り合ったパネルは赤色・青色が反転します。</div>
<div id="success"></div>
<div class="puzzle-all">
<div>
  <div class="pazzle_one">
    <div id="one-one", class="panel_four", style="background-color:lightcoral;"></div>
    <div id="one-two", class="panel_four", style="background-color:lightcoral;"></div>
    <div id="one-thr", class="panel_four", style="background-color:lightcoral;"></div>
    <div id="one-fou", class="panel_four", style="background-color:lightcoral;"></div>
  </div class="pazzle_one">
  <div class="pazzle_two">
    <div id="two-one", class="panel_four", style="background-color:lightcoral;"></div>
    <div id="two-two", class="panel_four", style="background-color:lightcoral;"></div>
    <div id="two-thr", class="panel_four", style="background-color:lightblue;"></div>
    <div id="two-fou", class="panel_four", style="background-color:lightblue;"></div>
  </div class="pazzle_two">
  <div class="pazzle_thr">
    <div id="thr-one", class="panel_four", style="background-color:lightcoral;"></div>
    <div id="thr-two", class="panel_four", style="background-color:lightblue;"></div>
    <div id="thr-thr", class="panel_four", style="background-color:lightcoral;"></div>
    <div id="thr-fou", class="panel_four", style="background-color:lightcoral;"></div>
  </div class="pazzle_thr">
  <div class="pazzle_fou">
    <div id="fou-one", class="panel_four", style="background-color:lightcoral;"></div>
    <div id="fou-two", class="panel_four", style="background-color:lightcoral;"></div>
    <div id="fou-thr", class="panel_four", style="background-color:lightblue;"></div>
    <div id="fou-fou", class="panel_four", style="background-color:lightblue;"></div>
  </div class="pazzle_for">
  </div>
</div>

<div id="form">
    <%= form_with url: "/puzzle", method: :post, local: true do |f| %>
      <%= f.submit "クリアしたことを保存する", class:"clear-btn" %>
      <%= f.hidden_field :number, :value => "3" %>
      <% end %>
</div>